
{% extends 'base.html' %}
{% block title %} Password Reset {% endblock %}

{% block content %}

<div data-w-id="002070da-ef7a-0eaf-a42f-ff3c72bac681"
        style="-webkit-transform:translate3d(100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
        class="semi-col right">
        <div class="inset-2xl">
          <div class="g-stack-l">
            <h1 class="overline tc-warning-600">Hurry Up!!!</h1>
            <h1 class="headline l">Password Reset Email Sent</h1>
            <p class="body-text-m tc-neutrals-500">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            
          </div>
        </div>
      </div>
{% endblock %}


