{% extends 'head.html' %}
{% load static %}
{% block title %} Update Username {% endblock %}
{% block content %}
 
<div class="text-center">
              </div>
<!-- profile update -->
<form method="post" action=" ." id="payForm">
  {% csrf_token %}
  <div class="form-group">
    <label class="whiteText">Update Username</label>
    <input type="text" name="name" class="form-control" placeholder="Enter Your New User Name" style="margin-bottom:10px" required>
    <button type="submit" class="btn btn-success pull-right">Update</button>
  </div>
</form>
</main>
{% endblock  %}