{% autoescape off %}

Hi  Administrator You Have New Withdraw request With Profile: {{profile }}  Payment Method: {{pmethod}} and Account No: {{account_no}} With Account Tittle:{{account_title}} And 
 Withdrawl Amount {{withrwal_amount}}  
Have Nice Day!
{% endautoescape %}
 
                   
<section id="Home" data-w-id="c042e88e-1833-34c4-61b4-7edb22d04cc2" class="section-hero">
    <div data-delay="3500" data-animation="over" class="slider w-slider" data-autoplay="true"
      data-easing="ease-in-out-cubic" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0"
      data-nav-spacing="3" data-duration="1000" data-infinite="true">
      <div style="width:100%;height:100%" class="into-view-hero-fill"></div>
      <div class="slide-hero">
        <div class="hero">
          <div class="sabtitle">
            <div class="line-sabtitle"></div>
            <div class="text-sabtitle">Hello</div>
          </div>
          <h1 class="heading-hero">We Are Brand Builders.</h1>
          <div class="block-button"><a href="#Contacts" class="button w-button">get started</a>
            <p class="paragraph-white">Experts in big thinking, creative ideas and fresh technology solutions</p>
          </div>
        </div>
      </div>
      <div
        style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
        class="mask w-slider-mask">
        <div class="slide w-slide"><img sizes="100vw"
            srcset="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b8c7fb29abbead7966_Slide_1-p-500.webp 500w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b8c7fb29abbead7966_Slide_1-p-800.webp 800w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b8c7fb29abbead7966_Slide_1-p-1080.webp 1080w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b8c7fb29abbead7966_Slide_1-p-1600.webp 1600w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b8c7fb29abbead7966_Slide_1.webp 2360w"
            src="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b8c7fb29abbead7966_Slide_1.webp"
            loading="eager" alt="" class="image-slide" /></div>
        <div class="slide w-slide"><img sizes="100vw"
            srcset="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b82e875b447a6c03ad_Slide_2-p-500.webp 500w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b82e875b447a6c03ad_Slide_2-p-800.webp 800w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b82e875b447a6c03ad_Slide_2-p-1080.webp 1080w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b82e875b447a6c03ad_Slide_2-p-1600.webp 1600w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b82e875b447a6c03ad_Slide_2.webp 2360w"
            src="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b82e875b447a6c03ad_Slide_2.webp"
            loading="eager" alt="" class="image-slide" /></div>
        <div class="slide w-slide"><img sizes="100vw"
            srcset="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b876cabbfba17c2f45_Slide_3-p-500.webp 500w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b876cabbfba17c2f45_Slide_3-p-800.webp 800w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b876cabbfba17c2f45_Slide_3-p-1080.webp 1080w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b876cabbfba17c2f45_Slide_3-p-1600.webp 1600w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b876cabbfba17c2f45_Slide_3.webp 2360w"
            src="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657fc0b876cabbfba17c2f45_Slide_3.webp"
            loading="eager" alt="" class="image-slide" /></div>
      </div>
      <div data-w-id="9b9764c7-b57c-60c0-7ec6-8e5f10ffc6db" class="left-arrow w-slider-arrow-left">
        <div class="icon-arrow w-icon-slider-left"></div>
      </div>
      <div data-w-id="9b9764c7-b57c-60c0-7ec6-8e5f10ffc6dd" class="right-arrow w-slider-arrow-right">
        <div class="icon-arrow w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav w-round"></div>
    </div>
  </section>
  <section class="section-bar">
    <div class="content">
      <div class="w-layout-grid grid-bar">
        <div id="w-node-e89c5fb0-951d-385a-aca4-73c0e7177a0f-acdd6ebc" class="solution">
          <div class="solution-top">
            <div class="icon-bg-solution"><img
                src="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657e6184e263ba32627c488d_icon_1.svg"
                loading="eager" alt="" class="icon-solution" /></div>
            <h6 class="heading-solution">Brand <br />Strategy</h6>
          </div>
          <p class="paragraph-solution">Congue quisque, commodo gravida amet, morbi</p>
        </div>
        <div id="w-node-c8ab74c1-41b0-15d0-2ae8-e16d40dafdf9-acdd6ebc" class="solution">
          <div class="solution-top">
            <div class="icon-bg-solution"><img
                src="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657e6184a1a7cc3479fecd44_icon_2.svg"
                loading="eager" alt="" class="icon-solution" /></div>
            <h6 class="heading-solution">Product <br />Experience<br /></h6>
          </div>
          <p class="paragraph-solution">Diam ut rutrum morbi ornare duis justo molestie cursus</p>
        </div>
        <div id="w-node-_40c424e2-ec9d-5f4d-a1ca-3c39df41cc31-acdd6ebc" class="solution">
          <div class="solution-top">
            <div class="icon-bg-solution"><img
                src="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657e6184b5510e0d529018bb_icon_3.svg"
                loading="eager" alt="" class="icon-solution" /></div>
            <h6 class="heading-solution">Time <br />Management</h6>
          </div>
          <p class="paragraph-solution">Quisque malesuada co ngue tempus sem congue</p>
        </div>
        <div id="w-node-_6c33772f-1be2-ed67-40de-a986ee303930-acdd6ebc" class="solution">
          <div class="solution-top">
            <div class="icon-bg-solution"><img
                src="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/657e618462d48bffd423d482_icon_4.svg"
                loading="eager" alt="" class="icon-solution" /></div>
            <h6 class="heading-solution">Beautiful <br />Design</h6>
          </div>
          <p class="paragraph-solution">Eget sed elementum tempus vivamus mattis non sapien</p>
        </div>
      </div>
    </div>
  </section>
  
 
  <section data-w-id="6d610a52-460f-cbd6-b10c-a50e16e42c75" class="section-dark">
    <div class="content">
      <div class="sabtitle">
        <div class="line-sabtitle"></div>
        <div class="text-sabtitle">Studio</div>
      </div>
      <h2 class="heading-large">Creator Of Quality Designs And Thinker Of Fresh Ideas<span class="text-span">.</span>
      </h2>
      <div class="block-button"><a href="#" class="lightbox-link w-inline-block w-lightbox"><img
            src="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/65824ac28f00067fd7d71bf8_play-filled-alt.svg"
            loading="lazy" alt="" class="icon-lightbox" />
          <div class="text-lightbox">PLAY VIDEO</div>
          <script type="application/json" class="w-json">{
  "items": [
    {
      "url": "https://youtube.com/watch?v=nx_2KIwYEWA",
      "originalUrl": "https://youtube.com/watch?v=nx_2KIwYEWA",
      "width": 940,
      "height": 528,
      "thumbnailUrl": "https://i.ytimg.com/vi/nx_2KIwYEWA/hqdefault.jpg",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fnx_2KIwYEWA%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dnx_2KIwYEWA&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fnx_2KIwYEWA%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
      "type": "video"
    }
  ],
  "group": ""
}</script>
        </a>
        <p class="paragraph-white large">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
          justo, rhoncus ut, imperdiet</p>
      </div>
    </div><img class="image-section"
      src="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/65810f78f9077cee5c144a82_Section_Dark.webp"
      alt=""
      style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.3, 1.3, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
      sizes="100vw" id="Studio" loading="eager"
      srcset="https://assets-global.website-files.com/657e4a47da303a85acdd6eac/65810f78f9077cee5c144a82_Section_Dark-p-500.webp 500w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/65810f78f9077cee5c144a82_Section_Dark-p-800.webp 800w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/65810f78f9077cee5c144a82_Section_Dark-p-1080.webp 1080w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/65810f78f9077cee5c144a82_Section_Dark-p-1600.webp 1600w, https://assets-global.website-files.com/657e4a47da303a85acdd6eac/65810f78f9077cee5c144a82_Section_Dark.webp 2104w" />
    <div class="into-view-fill dark"></div>
                    ''