{% extends 'head.html' %}
{% block title %} Withdraw  {% endblock %}
{% block content %}

 



{% for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert"  style="background:rgba(104, 104, 104, 0.5); color: red">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container-fluid py-4">
 
  {% endfor %}
    <div class="row">
      <div class="col-xl-12 col-sm-6 mb-xl-0 mb-4">
        <div class="pricing-area">
          <div class="container">
            <div class="row"> 
                <div class="col-md-6" style="background: rgba(104, 104, 104, 0.5);"><br>
                            <form action="{% url 'withdraw' %}" method="post">
                                {% csrf_token %}
                              <div class="form-group">
                                  <label class="whiteText">Where you want to Withdraw?</label>
                                  <select class="form-control" name="pmethod" required>
                                      <option value="">Choose Withdraw Method</option>
                                      <option value="JazzCash">JazzCash</option>
                                      <option value="EasyPaisa">EasyPaisa</option>
                                       
                                  </select>                                   
                              </div>
                              <div id="bank"  >
                                   
                                  <div class="form-group">
                                      <label class="whiteText">Account Title</label>
                                      <input type="text" class="form-control" name="account_title" placeholder="Account Title" >
                                  </div>
                                  <div class="form-group">
                                    <label class="whiteText">Account Number</label>
                                      <input type="number" class="form-control" id="account" maxlength="11" name="account_no" placeholder="Account Number" >
                                  </div>
                              </div>
                              
                              <div class="form-group">
                                  <label class="whiteText">Amount for Withdraw 
                  ({{ payout1}})</label>
                                  <input type="number" name="amount"   class="form-control" placeholder="Amount for Withdraw">
                              </div>
                              <br>
                              
                                <input type="submit" value="Withdrwa" class="btn" style="background:rgba(104, 104, 104, 0.5); color:#899ba2">
                                              
                              </form>
                              
                </div>
               
            </div>
          </div>       
        </div>
        <!-- end of col x 12 -->
      </div>
      
      
    </div><br>
  </div>
  
</main>

{% endblock %}